html
  head 
    title='vista'
  body 
    h1=message
    ul
    each element in listOfElements
        li= element.title
        li= element.price
        li= element.thumbnail
        li= element.id
        br