<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %> 
</head>
<header>
  <%- include('../partials/header') %>
</header>
<body>
  <h1>Productos Disponibles</h1>
  <ul>
    <% productos.forEach(function(producto){ %>
      <li>
        Titulo: <%= producto.title %>
        Precio: $<%= producto.price %>
        <img src="<%= producto.thumbnail %>" alt="">
      </li>
    <% }) %>
  </ul>
</body>
<footer>
  <%- include('../partials/footer') %>
</footer>
</html>